{% set active_page = "contact" %}
{% extends "base.html" %}

{% block title %}
TBC Group 1 - Contact
{% endblock %}

{% block content %}
<div class="container bg-white h-100">
    {% for errors in form.errors.values() %}
    <div class="alert alert-danger">
        {{ errors[0] }}
    </div>
    {% endfor %}
    <form method="POST" class="p-5" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            {{ form.profile_image(class="form-control my-2") }}
        </div>
        <div class="row">
            {{ form.username(class="form-control my-2", placeholder=form.username.label.text) }}
        </div>
        <div class="row">
            {{ form.password(class="form-control my-2", placeholder=form.password.label.text) }}
        </div>
        <div class="row">
            {{ form.repeat_password(class="form-control my-2", placeholder=form.repeat_password.label.text) }}
        </div>
        <div class="row">
            {{ form.register(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}